body{
  margin: 0px;
}
.container{
  position: relative;
}

.box{
  width: 100%;
  height: 100%;
  position: absolute;
  /*top: 0;*/
  /*left: 0;*/
  opacity: 100%;
}

.white{
  background-color:greenyellow;
}

.grey{
  opacity: 20%;

}

.none{}

.stack-top{
  z-index: 9;
  /*margin: 20px; !* for demo purpose  *!*/
}
