@media screen and (max-width: 600px) {
  .wrapper-header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: end;
  }

  .title{
    justify-self: start;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
  }

}
  .wrapper-header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 67px;
  margin-bottom: 32px;
}

.title{
  justify-self: start;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.stays-count{
  justify-self: end;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color:#4F4F4F;
}

.wrapper-mid{
  margin-left: 95px;
  margin-right: 95px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 42px;
  grid-column-gap: 32px;
}

@media screen and (max-width: 600px) {
  .wrapper-mid{
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 32px;
  }
}
.wrapper{
  margin-bottom: 92px;
}
