<div class="search-bar">
  <div class="mobile-section">
    <span style="justify-self: start;">Edit your search</span>
    <div style="justify-self: end" (click)="Search()">X</div>
  </div>
  <div id="search" class="big-btn-wrapper">
    <div style="border-right: #F2F2F2 1px solid" class="hover-hock" (click)="ShowLocation()" id="add-location">
          <div class="label item-placeholder" style="margin-left: 30px">
            <label >Location</label>
            <input [(ngModel)]="serchValue"  type="text"  placeholder="Add location" class="no-outline"  >
          </div>
    </div>
    <div style="border-right: #F2F2F2 1px solid" class="hover-hock" (click)= "ShowGuests()">
          <div class="label item-placeholder" style="margin-left: 30px">
            <label>Guests</label>
            <label class="label-grey-mulish-400" *ngIf="Guest.ShowTotal()<=0">Add guest</label>
            <label class="label-grey-mulish-400" *ngIf="Guest.ShowTotal()>=1">{{Guest.ShowTotal()}}</label>
          </div>
    </div>
    <div class="btn-section" >
        <div id="btn-search">
          <div (click)="Search()">
            <div class="btn-center btn-grid btn btn-items-center" >
              <img src="assets/magnify.png" >
              <label><b>Search</b></label>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div id="results" class="results-wrapper">
    <div>
          <div id="" class="location-results" *ngIf="locationResults">
            <ul>
              <li *ngFor="let xx of locations;index as i" class="location-grid" (click)="PickLocationForSearch(i)">
                <img src="assets/map-marker(1).png">
                <span class="location-name label-grey-mulish-400">{{xx}}</span>
              </li>
            </ul>
          </div>
    </div>
    <div>
          <div *ngIf="guestCalc" id="add-guest-toolbox" style="margin-left: 30px;" class="location-results">
            <div id="adults" class="result-wrapper">
                <label class="label">Adults</label>
                <label class="label-grey-mulish-400">Ages 13 or above</label>
                <div id="add-adults" class="adder">
                  <div style="margin-top: 3px" (click)="Guest.AddAdult()"><img src="assets/plus-box-outline.png"></div>
                  <label class="label-mulish-700 label-count">{{Guest.adults}}</label>
                  <div style="margin-top: 3px" (click)="Guest.RemoveAdult()"><img src="assets/minus-box-outline.png"></div>
              </div>
            </div>
                  <div id="children" style="margin-top: 20px;" class="result-wrapper">
                      <label class="label">Children</label>
                      <label class="label-grey-mulish-400">Ages 2-12</label>
                      <div id="add-kid" class="adder">
                        <div style="margin-top: 3px" (click)="Guest.AddKid()"><img src="assets/plus-box-outline.png"></div>
                        <label class="label-mulish-700 label-count">{{Guest.kids}}</label>
                        <div style="margin-top: 3px" (click)="Guest.RemoveKid()"><img src="assets/minus-box-outline.png"></div>
                      </div>
                  </div>
          </div>
    <div></div>
  </div>

</div>
</div>
