.search-bar{
  width: 100%;
  background-color: white;
  height: 400px;
  /*margin-top: 0px;*/
  top: 0;
}
.big-btn-wrapper
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: white;
  height: 55px;
  margin-left:100px;
  margin-right: 100px;
  border-radius: 16px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
}

.results-wrapper
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: white;
  height: 55px;
  margin-left:100px;
  margin-right: 100px;
}

.item-placeholder{
  display: grid;
  grid-template-columns: 1fr;
}


.input-wrapper {
  display: grid;
  background-color: white;
  width: 426px;
  height: 55px;
  border-radius: 16px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  padding-left: 30px;
}
.input-wrapper-inside{
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 0px ;
  margin-left: 22px;
}
.hover-hock{

}
.hover-hock:hover{
  border: #A9A9A9 solid 3px ;
  border-radius: 16px;
}
.label{
  font-size: 14px;
  font-family: 'Mulish', sans-serif;
  font-weight: 800;
  margin-top: 7px;
}
.label-grey-mulish-400{
  font-size: 14px;
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  color: #BDBDBD;
}
.label-mulish-700{
  font-size: 14px;
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  margin-top: 7px;
}
input{
  border: none;
  background-color: white;
  font-size: 14px;
  font-family: 'Mulish', sans-serif;
  font-weight: 500;
}
.no-outline:focus {
  outline: none;
}
.btn{
  height: 48px;
  width: 127px;
  background-color: #EB5757;
  border-radius: 16px;
  color: white;
  font-size: 17px;
  font-family: 'Mulish', sans-serif;
  font-weight: 500;
  border: none;
}
.center{
  justify-content: center;
  justify-self: center;
  text-align: center;
  justify-items: center;
}
.stack-top{
  z-index: 9;
  /*margin: 20px; !* for demo purpose  *!*/
}
.loupe{
  width: 24px;
  height: 24px;
}
.location-results{
  margin-top: 42px;

}
ul>li{
  font-size: 14px;
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  margin-bottom: 32px;
  list-style-type: none;
}
.result-wrapper{
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap:3px;
}
.adder{
  display: grid;
  grid-template-columns: 24px 30px 24px;
}
.label-count{
  justify-self: center;
  margin-top: 0px;
  align-self: center;
}
.btn-grid{
  display: grid;
  grid-template-columns: 24px 60px;
  grid-column-gap: 5px;
}
.btn-center{
  align-items: center;

}
.btn-items-center{
  justify-content:center;
}
.location-grid{
  display: grid;
  grid-template-columns: 15px 1fr;
}
.location-name{
  align-content: center;
  align-self: center;
  margin-left: 10px;
  color: #4F4F4F !important;


}

